<head>
    <title>TechieAmigos - Food traceability platform</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link href="https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800&display=swap"
          rel="stylesheet">

    <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
    <link rel="stylesheet" href="css/animate.css">

    <link rel="stylesheet" href="css/owl.carousel.min.css">
    <link rel="stylesheet" href="css/owl.theme.default.min.css">
    <link rel="stylesheet" href="css/magnific-popup.css">

    <link rel="stylesheet" href="css/aos.css">

    <link rel="stylesheet" href="css/ionicons.min.css">

    <link rel="stylesheet" href="css/bootstrap-datepicker.css">
    <link rel="stylesheet" href="css/jquery.timepicker.css">


    <link rel="stylesheet" href="css/flaticon.css">
    <link rel="stylesheet" href="css/icomoon.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
    <div class="container">
        <a class="navbar-brand" href="index.html">Food<span>Trace</span></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav"
                aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="oi oi-menu"></span> Menu
        </button>

        <div class="collapse navbar-collapse" id="ftco-nav">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item"><a href='/start' class="nav-link">Home</a></li>
                <li class="nav-item"><a href="about.html" class="nav-link">About</a></li>
                <li class="nav-item"><a href="pricing.html" class="nav-link">For Regulators</a></li>
                <li class="nav-item"><a href='/manufacturers' class="nav-link">For Manufacturers</a></li>
                <li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>
            </ul>
        </div>
    </div>
</nav>

<div class="hero-wrap" style="background-image: url('images/bg_3.jpg');height: auto"
     data-stellar-background-ratio="1.0">
    <div class="container" style="padding-top:140px;">
        <h1 class="mb-4" style="color: #fff">Food tracing result</h1>
        <h2 class="mb-4" style="color: white">Overall product details</h2>
        <p style="font-size: 18px; color:burlywood;">Based on the batch details you have provided, we have identified
            the traceability results as below:</p>
        <div style="width: 80%; margin: 10px; background-color: white; border: 1px solid gray">
            <h3 class="mb-4" style="background-color: gray; color:black;">&emsp;Traceability report</h3>
            <table style="width:100%; margin: 10px;">
                <tr>
                    <th>Item</th>
                    <td>NUTRILITE All Plant Protein Powder</td>
                </tr>
                <tr>
                    <th>Manufacturer</th>
                    <td>Amway India Enterprises (P) Ltd</td>
                </tr>
                <tr>
                    <th>Location</th>
                    <td>Madurai, India</td>
                </tr>
                <tr>
                    <th>Item code</th>
                    <td>NUTRI01</td>
                </tr>
                <tr>
                    <th>Batch number</th>
                    <td>AMWAY01</td>
                </tr>
                <tr>
                    <th>Date of manufacture</th>
                    <td>12/09/2019</td>
                </tr>
                <tr>
                    <th>Date of sale</th>
                    <td>16/10/2019</td>
                </tr>
                <tr>
                    <th>Product certificate</th>
                    <td><a href="/downloadTracePage" target="_blank">Download</a></td>
                </tr>
                <tr>
                    <th>Manufacturer certifications</th>
                    <td>
                        <table style="width:100%; border-width:thin;">
                            <tr>
                                <th>Certificate type</th>
                                <th>Validity</th>
                            </tr>
                            <tr>
                                <td>ISO</td>
                                <td>17/01/2020</td>
                            </tr>
                            <tr>
                                <td>Pollution</td>
                                <td>23/06/2025</td>
                            </tr>
                            <tr>
                                <td>GST</td>
                                <td>27/10/2021</td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </div>
        <div>
            <p><br><br></p>
        </div>
        <h2 class="mb-4" style="color: white">Step-wise detailed traceability</h2>
        <p style="font-size: 18px; color:burlywood;">Based on the batch number and other tracking details provided, we
            have identified the following detailed traceability of the product including the materials used and
            processes employed</p>
        <div>
            <div style="background-color: white; width: 80%; border: 1px solid gray">
                <h3 class="mb-4" style="background-color: gray; color:black;">&emsp;Mixing</h3>
                <div class="row" style="padding: 20px;">
                    <div style="width: 47%; margin: 10px; background-color: white; border: 1px solid darkgoldenrod">
                        <h4 class="mb-4" style="background-color:darkgoldenrod; color: black">&emsp;Input
                            Materials</h4>
                        <table style="width:100%; margin: 10px;">
                            <tr>
                                <th>Name</th>
                                <th>Batch</th>
                                <th>Certificate</th>
                            </tr>
                            <tr>
                                <td>Wheat</td>
                                <td><a href="/wheat">W12345</a></td>
                                <td>Download</td>
                            </tr>
                            <tr>
                                <td>Soy</td>
                                <td>S34567</td>
                                <td>Download</td>
                            </tr>
                            <tr>
                                <td>Yellow Pea</td>
                                <td>YP4567</td>
                                <td>Download</td>
                            </tr>
                        </table>
                    </div>
                    <div style="width: 47%; margin: 10px; background-color: white; border: 1px solid chocolate">
                        <h4 class="mb-4" style="background-color:chocolate; color: black">&emsp;Process
                            Parameters</h4>
                        <table style="width:100%; margin: 10px;">
                            <tr>
                                <th>Parameter</th>
                                <th>Report</th>
                                <th>Certified by</th>
                            </tr>
                            <tr>
                                <td>Mixing weights</td>
                                <td></td>
                                <td>John Doe</td>
                            </tr>
                            <tr>
                                <td>Mixing time</td>
                                <td></td>
                                <td>Sensor X1</td>
                            </tr>
                            <tr>
                                <td>Mixing temperature</td>
                                <td></td>
                                <td>Sensor X2</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p style="font-size: 16px; color: black;">&emsp;&emsp;Finished product of step: Step1_product<br>&emsp;&emsp;Batch
                    number: AABBCC<br></p>
            </div>
            <div style="padding: 15px; font-size: 36px; text-align: center;width: 80%;">
                <span class="icon icon-arrow-down" style="color:whitesmoke"></span>
            </div>
            <div style="background-color: white; width: 80%; border: 1px solid gray">
                <h3 class="mb-4" style="background-color: gray; color:black;">&emsp;Packing</h3>
                <div class="row" style="padding: 20px;">
                    <div style="width: 47%; margin: 10px; background-color: white; border: 1px solid darkgoldenrod">
                        <h4 class="mb-4" style="background-color:darkgoldenrod; color: black">&emsp;Input
                            Materials</h4>
                        <table style="width:100%; margin: 10px;">
                            <tr>
                                <th>Name</th>
                                <th>Batch</th>
                                <th>Certificate</th>
                            </tr>
                            <tr>
                                <td>Step1_product</td>
                                <td>AABBCC</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Plastic bottle</td>
                                <td>PB8978</td>
                                <td></td>
                            </tr>
                            <tr>
                                <td>Carton</td>
                                <td>C56778</td>
                                <td></td>
                            </tr>
                        </table>
                    </div>
                </div>
                <p style="font-size: 16px; color: black;">&emsp;&emsp;Finished product of step: Step2_product<br>&emsp;&emsp;Batch
                    number: DDEEFF<br></p>
            </div>
            <div style="adding: 15px; font-size: 36px; text-align: center;width: 80%">
                <span class="icon icon-arrow-down" style="color:whitesmoke"></span>
            </div>
            <div style="background-color: white; width: 80%; border: 1px solid gray">
                <h3 class="mb-4" style="background-color: gray; color:black;">&emsp;Shipping</h3>
                <div class="row" style="padding: 20px;">
                    <div style="width: 47%; margin: 10px; background-color: white; border: 1px solid chocolate">
                        <h4 class="mb-4" style="background-color:chocolate; color: black">&emsp;Process
                            Parameters</h4>
                        <table style="width:100%; margin: 10px;">
                            <tr>
                                <th>Parameter</th>
                                <th>Report</th>
                                <th>Certified by</th>
                            </tr>
                            <tr>
                                <td>Transit tracking</td>
                                <td></td>
                                <td>GPS_sensor X3</td>
                            </tr>
                            <tr>
                                <td>Distributor storage</td>
                                <td></td>
                                <td>Sensor X4</td>
                            </tr>
                            <tr>
                                <td>Date and Time of sale</td>
                                <td>16/10/2019 15:43:06</td>
                                <td>RFID Sensor X5</td>
                            </tr>
                        </table>
                    </div>
                </div>
            </div>
            <br>
        </div>
        <div style="background-image: url('images/arrow.jpg');"></div>
    </div>
</div>


<footer class="ftco-footer ftco-bg-dark ftco-section">
    <div class="container">
        <div class="row mb-5">
            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">About TechieAmigos</h2>
                    <p>Blockchain for simplifying supply chains</p>
                    <ul class="ftco-footer-social list-unstyled float-md-left float-lft mt-5">
                        <li class="ftco-animate"><a href="#"><span class="icon-twitter"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-facebook"></span></a></li>
                        <li class="ftco-animate"><a href="#"><span class="icon-instagram"></span></a></li>
                    </ul>
                </div>
            </div>
            <div class="col-md">
                <div class="ftco-footer-widget mb-4 ml-md-5">
                    <h2 class="ftco-heading-2">Information</h2>
                    <ul class="list-unstyled">
                        <li><a href="#" class="py-2 d-block">About</a></li>
                        <li><a href="#" class="py-2 d-block">Services</a></li>
                        <li><a href="#" class="py-2 d-block">Term and Conditions</a></li>
                        <li><a href="#" class="py-2 d-block">Best Price Guarantee</a></li>
                        <li><a href="#" class="py-2 d-block">Privacy &amp; Cookies Policy</a></li>
                    </ul>
                </div>
            </div>

            <div class="col-md">
                <div class="ftco-footer-widget mb-4">
                    <h2 class="ftco-heading-2">Have a Questions?</h2>
                    <div class="block-23 mb-3">
                        <ul>
                            <li><span class="icon icon-map-marker"></span><span class="text">203 Fake St. Address, New Delhi, India</span>
                            </li>
                            <li><a href="#"><span class="icon icon-phone"></span><span
                                    class="text">+91 1234567890</span></a></li>
                            <li><a href="#"><span class="icon icon-envelope"></span><span class="text">info@techieamigos.com</span></a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center">

                <p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy;<script>document.write(new Date().getFullYear());</script>
                    All rights reserved | This template is made with <i class="icon-heart color-danger"
                                                                        aria-hidden="true"></i> by <a
                            href="https://colorlib.com" target="_blank">Colorlib</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
            </div>
        </div>
    </div>
</footer>


<!-- loader -->
<div id="ftco-loader" class="show fullscreen">
    <svg class="circular" width="48px" height="48px">
        <circle class="path-bg" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke="#eeeeee"/>
        <circle class="path" cx="24" cy="24" r="22" fill="none" stroke-width="4" stroke-miterlimit="10"
                stroke="#F96D00"/>
    </svg>
</div>


<script src="js/jquery.min.js"></script>
<script src="js/jquery-migrate-3.0.1.min.js"></script>
<script src="js/popper.min.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/jquery.easing.1.3.js"></script>
<script src="js/jquery.waypoints.min.js"></script>
<script src="js/jquery.stellar.min.js"></script>
<script src="js/owl.carousel.min.js"></script>
<script src="js/jquery.magnific-popup.min.js"></script>
<script src="js/aos.js"></script>
<script src="js/jquery.animateNumber.min.js"></script>
<script src="js/bootstrap-datepicker.js"></script>
<script src="js/jquery.timepicker.min.js"></script>
<script src="js/scrollax.min.js"></script>
<script src="js/main.js"></script>

</body>
